#######################################################
# GIT-IGNORE
#######################################################

.android
.asgard
.atlassian
.awssecret
.bash_history
.CFUserTextEncoding
.cache
.config
.cpan
.cups
.dropbox
.eclipse
.eclipse_keyring
.fontconfig
.freemind
.gem
.gitk
.gradle
.grails
.groovy
.gvm
.inkscape-etc
.ivy2
.lesshst
.local
.m2
.MacOSX
.mkvtoolnix
.mysql_history
.node*
.npm
.ssh
.ssh-agent
.subversion
.subversion_IDEA
.vim
.Trash
.viminfo
.XAuthority
.xinitrc.old
Android
bin
Desktop
dev
Documents
Downloads
Dropbox
Library
Movies
Music
Pictures
Public
push
reportit
Sites
springsource
tools
xfers

# EOF
