###############################################
# GIT global config file
#
# lots of stuff found at
#    https://wincent.com/wiki/Git_quickstart
###############################################
[core]
	excludesfile = /Users/tak/.gitignore_global
	legacyheaders = false
	usedeltabaseoffset = true
	autocrlf = input
	quotepath = off
	editor = atom --wait
##
## The user.email value below forces you to run: git config user.email="foo@example.com"
##
[user]
    email = "(none)"
	name = Tak
[log]
	decorate = short
[color]
	ui = true
	interactive = auto
[page]
	status = true
	show-branch = true
[alias]
	st = status
	stat = status -s
	ci = commit
	co = checkout
    cp = cherry-pick
	staged = diff --cached
	oneline = log --oneline
	amend = commit --amend
	branches = branch -av
	unstage = reset HEAD --
	last = log --oneline -n 1
	dirty = branch --no-merged
    relnotes = shortlog --no-merges v1.0.9...HEAD
    history = log --follow
    hist = log --oneline --graph --decorate --all
[merge]
	tool = opendiff
[github]
	user = mtakacs
	token = 5b253a2d988faf8a9958fa24e739b35
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[push]
	default = simple
[credential]
	helper = osxkeychain
[filter "hawser"]
	clean = git hawser clean %f
	smudge = git hawser smudge %f
	required = true
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
