#######################################################
# GIT-IGNORE
#######################################################

*.bak
*/.idea
*pem
*retry
.android
.apc
.asgard
.atlassian
.atom
.aws/credentials 
.awssecret
.bash_history
.bash_sessions
.bashrc.d/yubiagent
.bitmonero
.bliss
.boot2docker
.cache
.CFUserTextEncoding
.compiz
.config
.cpan
.cups
.dmrc
.docker
.dropbox
.dropbox-dist
.DS_Store
.eclipse
.eclipse_keyring
.ent
.feldspar
.fontconfig
.freemind
.gconf
.gem
.gitflow_export
.github_api.token
.gitk
.gnome
.gnupg
.gnupg*
.gradle/build-cache*
.gradle/build-scan*
.gradle/caches
.gradle/daemon
.gradle/gradle*.properties
.gradle/native
.gradle/notifications
.gradle/workers
.gradle/wrapper
.grails
.grails_history
.groovy
.gvm
.ICEauthority
.icons
.ievms
.inkscape-etc
.iterm2
.iterm2_shell_integration.zsh
.ivy2
.javacpp
.jenv
.kube
.lesshst
.local
.m2
.MacOSX
.macromedia
.markdownNavigator
.mkvtoolnix
.mysql_history
.node*
.npm
.nvm
.oh-my-zsh
.oracle_jre_usage
.packer.d
.papi*
.pcl
.pdfbox.cache
.pex
.pgadmin
.pie
.pip
.pki
.plexht
.pyenv
.python_history
.rbenv
.riorc
.sdkman
.secretsrc
.sh_history
.ssh-agent
.ssh/.mementoStat
.ssh/.mementoStats
.ssh/authorized_keys
.ssh/config
.ssh/config.d/*apple*
.ssh/environment
.ssh/keystore
.ssh/known_hosts*
.ssh/live-container.known_hosts
.ssh/multi
.ssh/ssh_auth_sock
.starclient
.subversion
.subversion_IDEA
.Trash
.vagrant.d
.vim
.viminfo
.XAuthority
.Xauthority
.xinitrc.old
.xsession
.xsession-errors
.z
.zcompdump*
.zsh-update
.zsh_history
.zsh_sessions
Android
Applications
bin
Box
Box Sync
Calibre Library
Copy
creds
Desktop
dev
Documents
Downloads
Dropbox
Kitematic
Library
Movies
Music
OneDrive
Pictures*
Public
reportit
s.apple
Screenshots
Sites
springsource
virtualBox VMs
VMWare VMs
xfers
YouTube

# EOF
