#######################################################
# GIT-IGNORE
#######################################################

.CFUserTextEncoding
.MacOSX
.Trash
.android
.bash_history
.config
.cups
.dropbox
.fontconfig
.grails
.ivy2
.lesshst
.local
.mysql_history
.ssh
.ssh-agent
.subversion_IDEA
.viminfo
.xinitrc.old
Android
Desktop
Documents
Downloads
Dropbox
Library
Movies
Music
Pictures
Public
Sites
bin
dev
xfers

# EOF
