#  -*- shell-script -*-
#######################################################
# $Id: .inputrc,v 1.3 2007/11/02 23:47:19 tak Exp $

#set bell-style visual
set bell-style none


#################################
## Input non-ASCII characters on terminals
## http://iterm.sourceforge.net/faq.shtml
#################################
set meta-flag on
set input-meta on
set output-meta on
set convert-meta off
